<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <div class="user-panel black-bg">
            <div class="pull-left image"> <img src="~/images/logos/manlogo.jpg" class="img-circle" alt="User Image"> </div>
            <div class="pull-left info">
                <p>Emre Toprak</p>
                <a href="#"><i class="fa fa-circle"></i> Çevrim içi</a>
            </div>  
        </div>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menü</li>
            <li><a href="/Admin/Category/Index/"> <i class="fa fa-solid fa-list"></i> <span>Kategoriler</span></a> </li>            
            <li><a href="/Admin/Product/Index/"> <i class="fa fa-solid fa-cart-plus"></i> <span>Ürünler</span></a> </li>
            <li><a href="/Admin/Product/ProductListWithCategory/"> <i class="fa fa-solid fa-cart-plus"></i> <span>Ürün İşlemleri</span></a> </li>
            <li><a href="/Admin/SpecialOffer/Index"> <i class="fa fa-tags"></i> <span>Özel Teklifler</span></a> </li>
            <li><a href="/Admin/FeatureSlider/Index/"> <i class="fa fa-cogs"></i> <span>Slider Paneli</span></a> </li>
            <li><a href="/Admin/Feature/Index/"> <i class="fa fa-star"></i> <span>Öne Çıkan Alan Paneli</span></a> </li>
            <li><a href="/Admin/OfferDiscount/Index/"> <i class="fa fa-percent"></i> <span>İndirim Teklifleri</span></a> </li>
            <li><a href="/Admin/Brand/Index/"> <i class="fa fa-shopping-bag"></i> <span>Markalar</span></a> </li>
            <li><a href="/Admin/About/Index/"> <i class="fa fa-info"></i> <span>Hakkımda</span></a> </li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-comment"></i> <span>Yorumlar</span></a> </li>
            <li><a href="/Admin/User/UserList/"> <i class="fa fa-users"></i> <span>Kullanıcı Listesi</span></a> </li>
            <li><a href="/Admin/Statistic/Index"> <i class="fa fa-chart-bar"></i> <span>İstatistikler</span></a> </li>
            <li><a href="/Admin/Cargo/CargoCompanyList/"> <i class="fa fa-truck"></i> <span>Kargo</span></a> </li>
            <li><a href="/Admin/SignalR/Index/"> <i class="fa fa-broadcast-tower"></i> <span>SignalR</span></a> </li>
            <li><a href="http://localhost:15672/#/"> <i class="fa fa-exchange-alt"></i> <span>RabbitMQ</span></a> </li>
            <li><a href="/Mail/SendMail"> <i class="fa fa-envelope"></i> <span>E-Posta</span></a> </li>
            <li><a href="http://localhost:7232/Default/Create"> <i class="fa fa-cloud"></i> <span>Google Cloud</span></a> </li>
            <li><a href="https://localhost:7047/Default/Exchange"> <i class="fa fa-dollar-sign"></i> <span>Döviz Kurları</span></a> </li>
            <li><a href="https://localhost:7047/ECommerce/ECommerceList"> <i class="fa fa-database"></i> <span>Ürün Verileri - Rapid Api</span></a> </li>
            <li><a href="https://localhost:7047/Default/WeatherDetail"> <i class="fa fa-cloud-sun"></i> <span>Hava Durumu</span></a> </li>


            <li class="divider" style="height: 1px; margin: 15px 0; background-color: #ccc; list-style: none;"></li>

            <li><a href="/Default/Index/"> <i class="fa fa-solid fa-globe"></i> <span>Siteye Git</span></a> </li>
            <li><a href="/Admin/Settings/"> <i class="fa fa-cog"></i> <span>Ayarlar</span></a> </li>
            <li><a href="/Admin/Logout/"> <i class="fa fa-sign-out-alt"></i> <span>Çıkış Yap</span></a> </li>

            @* <li><a href="/Admin/Order/List/"> <i class="fa fa-shopping-cart"></i> <span>Sipariş Listesi</span></a> </li>
            <li><a href="/Admin/Cash/Details/"> <i class="fa fa-money-bill"></i> <span>Kasa Bilgileri</span></a> </li>
            <li><a href="/Admin/Discounts/"> <i class="fa fa-gift"></i> <span>İndirimler</span></a> </li>
            <li><a href="/Admin/Images/"> <i class="fa fa-image"></i> <span>Görseller</span></a> </li>
            <li><a href="/Admin/Messages/"> <i class="fa fa-envelope"></i> <span>Mesajlar</span></a> </li> *@
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
